@page "{searchString?}"
@model MegaDesk.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].RushOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].QuoteTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].DateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Depth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Drawers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfaceMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RushOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuoteTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
